* {  
    border-radius: 20px;
    margin-bottom: 18px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

body {
    margin: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(192, 192, 192);
}

header {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
}

.contador {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
}

.sobre {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 23px;
}

.encabezado {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
}

.encabezado a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.encabezado a:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.intereses {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
}

.video{
    background-color: rgb(183, 230, 252);
    color: rgb(2, 0, 0);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

.audio{
    background-color: rgb(183, 230, 252);
    color: rgb(2, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

.galeria {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 23px;
}

.galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    font-size: 23px;
}

img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    align-items: center; 
    font-size: 23px;
}

.contacto {
    padding: 30px;
    margin: 20px 0; 
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 23px;
}
